<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand mr-auto" href="#">
            <img src="https://content3.jdmagicbox.com/comp/delhi/91/011p98891/catalogue/mindfire-solutions-mathura-road-delhi-computer-software-developers-q5t090.jpg?clr=491d1d" height="50px"alt="">
          </a>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <button type="button" class="btn btn-outline-light text-light ml-auto">Sign up</button>
      </div>
    </div>
  </nav>
