<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand mr-auto" href="#">
            <img src="https://content3.jdmagicbox.com/comp/delhi/91/011p98891/catalogue/mindfire-solutions-mathura-road-delhi-computer-software-developers-q5t090.jpg?clr=491d1d" height="50px"alt="">
          </a>


      <div class="collapse navbar-collapse" id="navbarResponsive">
        <li class="nav-item active form-inline">
          <a *ngFor = "let abc of headerData" class="nav-link" href="#">{{abc.item}}</a>
        </li>
        <button [disabled]="signin" (click)="onClick()" type="button" class="btn btn-outline-light text-light" id="signin">Sign in</button>
        <button [disabled]="signup" (click)="onClick()"type="button" class="btn btn-outline-light text-light ml-auto">Sign up</button>
      </div>
    </div>
  </nav>
