footer{
    padding-top: 10px;
    background-color: rgb(56, 57, 59);
    margin-top: 15px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
}

i{
    float: right;
    padding: 10px;
    color: white;
}