.card{
    height: 250px;
    padding: 20px;
    text-align: center;
    width: 400px;
    margin-top: 25px;
    margin-left: 35%;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);

}
button{
    bottom: 0;
    position: relative;
}

input{
    box-shadow: 0 0 2px 0 rgba(100, 100, 100, 0.26);
}