button{
    margin-top: 20px;
    width: 150px;
}
label{
    margin: auto;
}
#submit{
    margin-left: 75%;
}

#cancel{
    margin-right: 50%;
}
#radio{
    margin-left: 100px;
    margin-top: 10px;
}